/* Container for the EditCustomer component */
.edit-customer-container {
    margin: auto;
    background-color: #f0f0f0;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
   
  }
  
  /* Title style */
  .edit-customer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Grid layout for input fields */
  .edit-customer-grid {
    display: grid;
    grid-template-columns: 1fr;
    color: "lightyellow";
    gap: 20px;
  }
  
  /* TextField style */
  .edit-customer-textfield {
    width: fit-content;
    background-color: azure;
  }
  
  /* Button style */
  .edit-customer-button {
    margin-top: 20px;
    width: 10vw;
    display: flex;
    background-color: #007bff;
    color: #fff;
    justify-content: center;
  }
  
  .container{
    width: 100vw;
    display: flex;
    justify-content: center;
    
  }